#saveBtn{
    background-color: rgb(96, 238, 68);
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    border-radius: 5;
}
#saveBtn:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

#cancelBtn{
    background-color: rgb(255, 89, 47);
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    border-radius: 5;
}
#cancelBtn:hover{
    background-color: rgb(233, 54, 31); /* Green */
    color: white;
}

/* label{
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
} */

#mandatory{
    color: red;
}

.divOne{
    margin-top: .5rem;
}

.divTwo{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.divThree{
    margin-bottom: 1rem;
}

.divFour{
    margin-bottom: 1rem;
}

.divFive{
    margin-bottom: 1rem;
}